html {
    overflow-y: hidden;
}
.imagen {
    width: 100%;
    height: 90vh;
    background-color: darkslategray;
    margin-bottom: -30px;
    z-index: 0;
}

.imagen img {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    height: 100%;
}

.volver {
    width: 40px;
    height: 40px;
    background-color: white;
    position: fixed;
    top: 20px;
    left: 20px;
    color: black;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
}

.menuAgregarItem {
    position: relative;
    width: 100%;
    height:600px;
    background-color: white;
    margin-top: 0;
    border-radius: 30px 30px 0 0;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 1s;
    z-index: 50;
}

.menuAgregarItem span, .menuAgregarItem select {
    display: inline;
}

.menuAgregarItem div {
    margin: 20px 0 10px 0;
    display: flex;
    width: 210px;
    justify-content: space-between;
}

select {
    background-color: white;
    border: 2px solid black;
}

.contenido, .agregarCarrito {
    opacity: 0;
}

.botonMenu, .contenido, .agregarCarrito {
    transition: all 0.8s;
}

button {
    width: 40px;
    height: 40px;
    margin: 15px 0;
    background-color: white;
    border: none;
}

.agregarCarrito {
    width: 50%;
    min-width: 210px;
    max-width: 300px;
    height: 3em;
    background-color: black;
    border-radius: 30px;
    color: white;
}

input[type="radio"] {
    display: none;
 }

.talles {
    display: inline-block;
    height: 50px;
    width: 50px;
    border: 2px solid black;
    text-align: center;
}

.talles span {
    line-height: 50px;
}

input:checked + label {
    color: white;
    background-color: black;
    transition: all 0.2s;
 }
 
