/* ----COLOR PALETTE-----

White = #fcfcfc
Black = #222
RoyalBlue = #
DarkBlue = #394363

*/


html {
    scroll-behavior: smooth;
}

body {
    font-size: 16px;
    background-color: #fcfcfc;
    font-family: 'Comfortaa', cursive;
    opacity: 0;
    transition: opacity 2s;
}

nav {
    position: fixed;
    display: block;
    width: 100%;
    font-weight: 700;
    font-size: 1em;
    top: 0;
    z-index: 300;
    background-color: #fcfcfc70;
    border-radius: 0 0 30px 30px;
    backdrop-filter: blur(15px);
}
.menuMobile {
    display: none;
    position: fixed;
    width: 100%;
    height: 90px;
}
.ul-desktop {
    display: flex;
    list-style-type: none;
    margin-top: 10px;
    margin-left: 5%;
    align-items: center;
}

@media only screen and (max-width: 900px) {
    .ul-desktop {
        display: none;
    }
    .menuMobile {
        display: block;
    }
}

a {
    text-decoration: none;
    display: block;
    color: #999;
    padding: 10px 10px;
    margin: 25px 30px;
    font-weight: 700;
    border-radius: 40px;
    transition: all 0.3s;
}
li a:hover {
    color: #4045dd;
}
#languaje {
    background-color: #0000;
    border: none;
    height: 2.5em;
    margin-left: auto;
    margin-right: 10%;
}
main {
    color: #222;
    scroll-snap-type: y mandatory;
    height: 100%;
}
#home, #work, #about, #contact{
    background-color: #4045dd;
    width: 100%;
    height: 100vh;
    padding-top: .4%;
}
.homeSection {
    background-color: #fcfcfc;
    width: 100%;
    height: 95vh;
    margin-bottom: 10vh;
    border-radius: 30px;
    top: 0;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 0 25px #283c79eb;
}
.titleContainer {
    width: 45%;
    height: 100vh;
    display: inline-block;
    padding-left: 7%;
    padding-top: 13%;
    white-space: nowrap;
}
.imgContainer {
    display: inline-block;
    width: 55%;
    height: 100vh;
    position: relative;
}
.imgContainer img {
    display: block;
    margin-top: 11%;
    margin-left: -10px;
    width: 90%;
}
h1 {
    font-size: 4vw; 
    font-weight: 600; 
}
.titleContainer div {
    height: 5px;
    width: 40px;
    background-color: #f84763;
    margin: -20px 0 40px 10px;
}
.seeMore {
    background-color: #4045dd;
    font-size: 1em;
    line-height: 2em;
    width: 11em;
    color: white;
    text-align: center;
    margin-left: 5px;
    transition: all 0.4s;
}
.seeMore:hover {
    background-color: rgb(75, 80, 214);
    box-shadow: -0px 5px 9px #3a5ec950;
    transform: scale(1.01);
}

.bold {
    font-weight: 700;
}
.auto-type {
    color: #4045dd;
}
.aboutSection, .workSection, .contactSection{
    background-color: #fcfcfc;
    width: 100%;
    height: 95vh;
    margin-bottom: 10vh;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    box-shadow: 0 0 25px #283c79eb;
}
.workSection, .aboutSection {
    padding: 7%;
    display: block;
}
.workSection h2, .aboutSection h2 {
    font-size: 2em;
}
.cardContainer {
    width: 100%;
    margin-top: 2%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.card {
    width: 320px;
    height: 400px;
    background-color: #fcfcfc;
    color: #222;
    margin: 0px 10px;
    border-radius: 20px;
    padding: 20px;

    transition: all 0.4s;
}
.card:hover {
    box-shadow:  7px 7px 20px #d6d6d6,
    -7px -7px 20px #ffffff;
    transform: scale(1.005);
}
.card h3 {
    font-size: 1.2em;
    font-weight: 700;
    margin-top: 20px;
}
.card p {
    font-size: 1em;
    font-weight: 600;
    color: #666;
    line-height: 1.2em;
    list-style: none;
}
.card .separador {
    background-color: #f84763;
    height: 3px;
    width: 10%;
    margin: 0.5em 0;
    transition: all 1s;
}
.card:hover  .separador {
    width: 30%;
}
.card .img {
    width: 100%;
    height: 45%;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

.button {
    display: inline-block;
    margin: 20px auto;
    line-height: 1.3em;
    background-color: #4045dd;
    color: #fcfcfc;
    text-align: center;
    border: 2px solid #4045dd;
}
.repo {
    background-color: #fcfcfc;
    color: #4045dd;
    border: 2px solid #4045dd;

}
h2 span {
    color: #f84763;
}

