

html {
    scroll-behavior: smooth;
    font-family: 'Sora', sans-serif;
}

body {
    font-size: 16px;
    background-color: #e5e5e5;
}

nav {
    background-color: white;
    width: 100%;
    height: 500px;
    position: fixed;
    bottom: 0;
    margin-bottom: -430px;
    padding: 0 20px;
    border-radius: 30px 30px 0 0;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.08);
    z-index: 100;
    transition: all 1s;
}

nav div {
    width: 100%;
    height: 70px;
    max-width: 450px;
    margin: auto;
}

ul {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}

li {
    list-style: none;
}

.icono {
    color: #c9c2c2;
    height: 100%;
    width: 50px;
    display: block;
    font-size: 1.5em;
    text-align: center;
    transition: all 1s;
}

.home {
    color: black;/*#433022;*/
}

.carritoVacio {
    width: 100%;
    padding: 20px 30px 0 30px;
    opacity: 0;
    transition: all 1s;
}

.carritoVacio p {
    text-align: justify;
    margin: 10px 0;
    color: #333;
}

.cerrarCarrito {
    width: 40px;
    height: 40px;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 25px;
    line-height: 40px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 40px;
}

.pantallaNegra {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    transition: opacity 1s;
    z-index: 10;
    pointer-events: none;
}

.envioGratis {
    width: 100%;
    height: 3em;
    font-size: 0.7em;
    line-height: 3em;
    text-align: center;
    background-color: black;
    color: white;
    font-family: 'Sora', sans-serif;
}

.titulo {
    background-color: white;
    width: 100%;
    height: 70px;
    padding: 0 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.08);
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;
    font-family: 'Pacifico', cursive;
}

h1 {
    font-size: 2em;
    color: #433022;
}

a, a:active{
    text-decoration: none;
}

.cuerpo {
    width: 100%;
    max-width: 1280px;
    margin: auto;
}

.cat {
    width: 100%;
    max-width: 580px;
    height: 90px;
    padding: 0 5%;
    margin: auto;
    margin-bottom: 40px;
}

.cat ul li a div{
    background-color: #111;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.cat ul li a div::after{
    content: "Cat 1";
    position: relative;
    top: 75px;
    left: 15px;
    font-size: 0.8em;
    color: black;
    z-index: -10;
}

.nuevaTemp {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 1em;
}

.contenedorLoNuevo, .contenedorCategorias {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 0 20px;
    margin-bottom: 25px;
}

.contenedorCategorias {
    margin-bottom: 80px;
}

.producto {
    font-family: 'Sora', sans-serif;
    margin: 5px;
    color: black;
}

.descuento {
    text-decoration: line-through;
    color: red;
    font-size: 0.9em;    
    display: block;
}

footer {
    width: 100%;
    background-color: #111;
    color: #DDD;
    padding: 30px 40px 90px 40px;
    font-size: 1.2em;
}

footer h3 {
    margin-bottom: 10px;
}

footer ul {
    display: block;
    margin-bottom: 20px;
}

.footerLinks {
    color: #DDD;
    font-size: 0.9em;
    line-height: 1.4em;
}

@media screen and (min-width: 1024px){
    nav {
        display: none;
    }
}

@media screen and (min-width: 580px){
    .contenedorLoNuevo, .contenedorCategorias {
        grid-template-columns: 25% 25% 25% 25%;
    }  
}




