/* 
#EB026B
#ECECEC
#fafafa
#040C33
*/



html {
    scroll-behavior: smooth;
    font-family: 'Sora', sans-serif;
}

body {
    font-size: 16px;
    background-color: #e5e5e5;
}

nav {
    background-color: white;
    width: 100vw;
    height: 70px;
    position: fixed;
    bottom: 0;
    padding: 0 20px;
    border-radius: 30px 30px 0 0;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.08);
}

ul {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}

li {
    list-style: none;
}

.icono {
    color: #c9c2c2;
    height: 100%;
    width: 50px;
    display: block;
    font-size: 1.5em;
    text-align: center;
}

.activo {
    color: #433022;
}

.envioGratis {
    width: 100%;
    height: 3em;
    font-size: 0.7em;
    line-height: 3em;
    text-align: center;
    background-color: black;
    color: white;
    font-family: 'Sora', sans-serif;
}

.titulo {
    background-color: white;
    width: 100vw;
    height: 70px;
    padding: 0 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.08);
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;
    font-family: 'Pacifico', cursive;
}

h1 {
    font-size: 2em;
    color: #433022;
}

.contenedorCategorias {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*padding-top: 70px;*/
    padding-bottom: 90px;
    font-family: 'Sora', sans-serif;
}

.categoria {
    background-color: #eaeaea;
    width: 80%;
    height: 200px;
    margin: 10px;
    border-radius: 30px;
    color: #eaeaea;
    text-shadow: 0 0 10px black;
    font-size: 1.8em;
    text-align: center;
    line-height: 200px;
}

.a, .b, .c {
    background-image: url("https://i.pinimg.com/564x/cd/9e/0e/cd9e0e9c8d5a0ee897d662ae929a93f1.jpg");
    background-position: -10px -150px;
    background-size: 120%;
    background-repeat: no-repeat;
}

a, a:active{
    text-decoration: none;
}

.nuevaTemp {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 0;
    font-size: 1em;
}

.contenedorLoNuevo, .contenedorCategorias {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 0 20px;
}

.producto {
    font-family: 'Sora', sans-serif;
    height: 280px;
    margin: 5px;
    color: black;
}
