

html {
    scroll-behavior: smooth;
    font-family: 'Sora', sans-serif;
}

body {
    font-size: 16px;
    background-color: #e5e5e5;
}

nav {
    background-color: white;
    width: 100vw;
    height: 70px;
    position: fixed;
    bottom: 0;
    padding: 0 20px;
    border-radius: 30px 30px 0 0;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.08);
}

nav div {
    width: 100%;
    height: 100%;
    max-width: 450px;
    margin: auto;
}

ul {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}

li {
    list-style: none;
}

.icono {
    color: #c9c2c2;
    height: 100%;
    width: 50px;
    display: block;
    font-size: 1.5em;
    text-align: center;
}

.activo {
    color: #433022;
}

.envioGratis {
    width: 100%;
    height: 3em;
    font-size: 0.7em;
    line-height: 3em;
    text-align: center;
    background-color: black;
    color: white;
    font-family: 'Sora', sans-serif;
}

.titulo {
    background-color: white;
    width: 100vw;
    height: 70px;
    padding: 0 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.08);
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;
    font-family: 'Pacifico', cursive;
}

h1 {
    font-size: 2em;
    color: #433022;
}

a, a:active{
    text-decoration: none;
}

.nuevaTemp {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 1em;
}

.contenedorLoNuevo, .contenedorCategorias {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 0 20px;
    margin-bottom: 25px;
}

.contenedorCategorias {
    margin-bottom: 80px;
}

.producto {
    font-family: 'Sora', sans-serif;
    margin: 5px;
    color: black;
}

@media screen and (min-width: 1024px){
    nav {
        display: none;
    }
}


